@model Cadastro.WebApp.Models.Logradouro

@{
    ViewData["Title"] = "Delete";
}

<h3>Você tem certeza que quer apagar esse logrodouro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGuid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogradouroNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogradouroNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClient)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
